.events-head {
  color: #505f98;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 34.286% */
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events-object-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.events-object-image {
  width: 40%;
}
.events-object {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 7.5rem;
}
.events-object-info {
  position: relative;
  height: 20rem;
  margin: 2.5rem;
  width: 60%;
  align-items: top;
}
.events-object-info-name {
  font-size: calc(1.5rem + 0.5vw);
  font-weight: 600;
  margin-bottom: 2.5rem;
}
